body{
    margin: 0;
    text-align: center;
    background:rgb(185, 125, 81);
}
.covid-tracker{
    background-color: green;
}
.case-container{
    background:teal;
    margin: 2em;
}
.cases{
    text-align: center;
    background:lightskyblue;
    padding-bottom: 2em;
}
.total-case,
.cases-per-million,
.cases-reported-today,
.total-recovered,
.recovered-per-million,
.today-recovered,
.death-per-million{
    background:darkgrey;
    margin-left:23em;
    margin-right:23em;
}
.total-case1,
.cases-per-million1,
.cases-reported-today1,
.total-recovered1,
.recovered-per-million1,
.today-recovered1,
.death-per-million1{
    display: flex;
    background-color: blueviolet;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
}
.record-cases,
.record-per-million,
.record-today-cases,
.recovered,
.recovered-per-one-million,
.today-recovered2,
.death-per-one-million{
    display: flex;
    background-color: blueviolet;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em;
}
